* {
    padding: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

/* page - 1 - css */
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    align-items: center;
}

#nav-part-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: xx-large;
    cursor: pointer;
}

#nav-part-1 i {
    font-size: 30px;
    rotate: 180deg;
    display: inline-block;
    /* because icon i element is an inline element so for that it should be display as inline block */
}

#nav-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#nav-part-2 h1 {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

#nav-part-2 button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.center {
    display: flex;
    height: 70%;
    width: 100%;
}

#center-part-1 {
    margin-left: 40px;
    height: 100%;
    width: 45%;
}

#center-part-1 h1 {
    line-height: 1.2;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 30px;
}

#center-part-1 p {
    width: 98%;
    font-size: 20px;
    font-weight: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 0px;
}

#center-part-1 button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}


#center-part-2 {
    height: 100%;
    width: 55%;
    position: relative;
}

#center-part-2 img {
    margin-left: 10%;
    position: absolute;
    height: 100%;
}

.section-1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.section-1-bottom img {
    height: 60px;
    filter: grayscale(100%);
}


/* page - 2 - css */
.section-2 {
    height: 100%;
    width: 100%;
}

.section-2-services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 15%;
    width: 100%;
    padding: 0px 40px;
    margin-top: 20px;
}

.section-2-services h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background-color: #B9FF66;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-2-services p {
    font-size: 15px;
    width: 50%;
}

.section-2-containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 40px;
    gap: 15px;
    height: 85%;
    width: 100%;
}

.section-2-containers .elements {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 250px;
    width: 700px;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 15px black;
}

.blackEle {
    background-color: black;
}

.blackEle #elements-left-side h3 {
    color: white;
}

.section-2-containers .elements #elements-left-side {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    padding: 30px;
}

.section-2-containers .elements #elements-left-side h1 {
    margin-bottom: 80px;
    width: 80%;
    background-color: #B9FF66;
    border-radius: 10px;
    padding: 0px 5px;
}

.section-2-containers .elements #elements-left-side h3 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-2-containers .elements #elements-left-side h3 i {
    font-weight: 900;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.section-2-containers .elements #elements-right-side {
    height: 100%;
    width: 50%;
    padding: 10px 65px;
}

.section-2-containers .elements #elements-right-side img {
    height: 225px;
    width: 225px;
    border-radius: 50px;
    filter: grayscale(1);
}

/* page - 3 - css (section-3)*/

.section-3 {
    height: 100%;
    width: 100%;
}

.section-3-top {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #a9afce;
    height: 40%;
    width: 95%;
    margin-left: 40px;
    margin-top: 30px;
    padding: 40px 50px;
    border-radius: 50px;
}

.section-3-top #section-3-top-left {
    height: 100%;
    width: 50%;
}

.section-3-top #section-3-top-left h1 {
    margin-bottom: 30px;
}

.section-3-top #section-3-top-left p {
    font-size: 15px;
    margin-bottom: 40px;
}

.section-3-top #section-3-top-left button {
    font-size: 15px;
    padding: 15px 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.section-3-top #section-3-top-right {
    height: 100%;
    width: 30%;
    padding-left: 80px;
    margin-bottom: 30px;
}

.section-3-top #section-3-top-right img {
    height: 250px;
    width: 250px;
    border-radius: 50px;
}